.Mail{
    text-align: center;
    display: flex;
  }
  .Apps{
    width: 800px;
    margin: 120px;
    margin-left: 350px !important;
  } 
  h1{
    margin-left: 100px;
  }
  button{
    background-color: rgb(3, 80, 157);
    border-radius: 15px;
    height: 40px;
    width: 200px !important;
    margin-top: 30px;
    color:white;
    font-size: 15px;
  }
  a{
    margin-top: 30px;
    margin-left: 50px;
    color: rgb(3, 80, 157);
  }
  a:hover, button:hover{
    cursor: pointer;
  }
  a:hover{
    text-decoration:underline;
  }
  button:hover{
    background-color: black;
    color: white;
  }
  img{
    height: 300px !important;
    width: 350px !important;
    margin-left: -20px !important;
  }
  
  